* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Monserrat', sans-serif;
  overflow-x: hidden;
}

/* Navbar */
nav {
  display: flex;
  background-color: rgb(103, 11, 103);
  justify-content: space-around;
  /* padding: 20px 0; */
  color: rgb(218, 186, 247);
  height: 50px;
  align-items: center;
}
nav .logo {
  font-family: 'Beau Rivage', cursive;
  font-size: 25px;
  letter-spacing: 3px;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav ul li a {
  color: rgb(218, 186, 247);
  text-decoration: none;
  font-size: 0.8rem;
}

nav ul li a:hover {
  color: rgb(255, 255, 255);
}

/* Menu Humberger Mobile */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  background-color: rgb(103, 11, 103);
  position: relative;
  z-index: 2;
}
.menu-toggle input {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -1.5px;
  top: -2px;
  opacity: 0;
  cursor: pointer;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(218, 186, 247);
  border-radius: 3px;
  transition: all 0.5s;
}

/* humberger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Responsive Breakpoint */

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* Ukuran Mobile */
@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61, 13, 67);
    z-index: -1;
    /* transform: translateX(100%); */
    transition: all 0.8s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
  .menu-toggle {
    display: flex;
  }
}
